$bg-white: #f6f6f6;
$fnt-red: #f68b7d;
$fnt-yellow: #f7c978;
$fnt-blue: #a6c0fe;
$fnt-gray: #9e9494;
$fnt-black: #4e4e4e;

.background-container {
  width: 100%;
  height: 100vh;
  background-color: $bg-white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main-container {
    width: 90%;
    color: $fnt-black;
    overflow: hidden;
    position: relative;
    @media all and (max-width: 1200px) {
      width: 70%;
    }
    @media all and (max-width: 1000px) {
      width: 85%;
    }
    @media all and (max-width: 800px) {
      width: 90%;
    }
    .main-content {
      min-height: 95vh;
    }
    .footer {
      min-height: 5vh;
      margin-top: auto;
    }
  }
}
